<!DOCTYPE HTML>
<html lang="en">

<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-154633056-2"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-154633056-2');
    </script>

    <title>Alberto Cattaneo</title>

    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">

    <meta name="author" content="Alberto Cattaneo" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" type="text/css" href="/style.css" />
    <link rel="canonical" href="http://localhost:4000/">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">
</head>



<body>
  <table style="width:100%;max-width:800px;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
    <tr style="padding:0px">
      <td style="padding:0px">
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr style="padding:0px">
            <td style="padding:2.5%;width:60%;vertical-align:middle">
              <h1>
                Alberto Cattaneo
              </h1>
              <p>
                I'm doing a PhD at The University of Utah and am being advised by Professor <a href="http://varunshankar.com/">Varun Shankar</a>. Our research focus is high performance computing for simulating cracks in solid materials.</p>

              <p>
                 
              </p>

              <a href="/docs/Cattaneo_Alberto_Resume.pdf">CV</a> &nbsp;/&nbsp;

              <!-- <p> -->
              <!--     From 2021 to 2023, I was a visiting scholar at the School of Computing, University of Utah supervised by <a -->
              <!--     href="http://varunshankar.com/">Professor Varun Shankar</a>. Our research -->
              <!--     focused on designing novel methodologies to solve partial differential equations with physics-informed machine learning techniques. -->
              <!-- </p> -->

              <!-- <p> -->
              <!--   From 2021 to 2023, I was a remote collaborator at the <a href="https://team-approx-bayes.github.io/">Approximate Bayesian Inference Team</a> at the <a href="https://aip.riken.jp/">RIKEN</a> Centre for Advanced Intelligence Project supervised by <a href="https://gmmarconi.github.io/">Dr. Gian Maria Marconi</a> and <a href="https://www.thomasmoellenhoff.net/">Dr. Thomas Möllenhoff</a>. Our research focused on curriculum learning techniques. -->
              <!-- </p> -->

              <!-- <p> -->
              <!-- Previously, I was a Machine Learning Engineer at <a href="https://omdena.com/">Omdena</a> working for the World Resources Institute. I have also worked as a Lead Machine Learning Engineer for TrashOut and as a Data Scientist for SevaExchange. -->
              <!-- </p> -->

              <!-- <p> -->
              <!-- I am also an astrodynamics and fluid dynamics team -->
              <!-- member at <a href="https://www.conexresearch.com/">Conex Research</a>, an international team of students and young professionals developing science based space mission proposals. -->
              <!-- </p> -->

              <p style="text-align:center">
                Warnock Engineering Building, Office 2883 <br><br>
                <b>u1472208 </b> [at] <b> utah.edu <br> </b>
              </p>
            </td>
            <td style="padding:2.5%;width:40%;max-width:40%">
              <img style="width:100%;max-width:100%" alt="profile photo" src="images/portrait.jpg">
            </td>
          </tr>
        </table>
        
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <h2>Timeline</h2>
              <p>
                  <strong>August 2023 - Present</strong>: PhD student at the University of Utah.</p>

                  <strong>August 2017 - May 2021</strong>: Undergraduate at Loyola University Chicago</p>
              <p>
                  <strong>September 2003 - June 2017</strong>: Student at the University of Chicago Lab Schools.</p>
              <p>
                  <strong>June 1998 - September 2003</strong>: Drain on society</p>
              </p>
            </td>
          </tr>
        </table>

        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <h2>Research</h2>
              <p>
              My interests lie in the field of high performance computing and simuating physical procresses.
              </p>
            </td>
          </tr>
        </table>

      

       
        

      
      </td>
    </tr>
  </table>
</body>

</html>

